 @page "/"

<PageTitle>SIA - Sistema Internacional de Aeronaves</PageTitle>

<div class="container-fluid">
    <div class="row justify-content-center" style="margin-bottom:50px">
        <h3 class="text-center">Seja bem vindo a Central de Manutenção de Aeronaves</h3>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

