<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" style="color: white; padding:3px; font-size: 30px; text-align:" href="">Voe Airlines</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adicionausuarios">
                <span class="oi oi-share-boxed" aria-hidden="true"></span> Adicionar Usuários
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="autentica">
                <span class="oi oi-list" aria-hidden="true"></span> Listar Usuários
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="acessa">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listar Aeronaves
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-rain" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}